.blog-bg {
  background-color: var(--cor-cinza-6);
  padding: 50px 0;
}

.blog-post {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 50px;
}

.blog-post-item {
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 350px;
}

.blog-post-item-conteudo {
  opacity: 0;
  transition: 0.3s;
  padding-top: 120px;
  padding-bottom: 120px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blog-post-item-conteudo h3 {
  font-family: var(--font-4-bold);
  color: var(--cor-cinza-2);
  text-align: center;
}

.blog-post-item-conteudo a {
  display: inline-block;
  width: 50%;
  text-align: center;
  padding: 15px 10px;
  margin: 10 auto;
  background-color: var(--cor-cinza-2);
  color: var(--cor-cinza-6);
  border-radius: 5px;
  font-family: var(--font-3-medium);
}

.blog-bg > a {
  margin: 0 auto;
}

.blog-post-item:hover .blog-post-item-conteudo {
  opacity: 1;
  box-shadow: 0px 0px 0px 4px var(--cor-verde-1) inset;
  background: rgba(0, 0, 0, 0.6);
}

#item-1 {
  background-image: url(../img/home-blog/blog-1.jpg);
}

#item-2 {
  background-image: url(../img/home-blog/blog-2.jpg);
}

#item-3 {
  background-image: url(../img/home-blog/blog-3.jpg);
}

#item-4 {
  background-image: url(../img/home-blog/blog-4.jpg);
}

#item-5 {
  background-image: url(../img/home-blog/blog-5.jpg);
}

#item-6 {
  background-image: url(../img/home-blog/blog-6.jpg);
}

#item-7 {
  background-image: url(../img/home-blog/blog-7.jpg);
}

#item-8 {
  background-image: url(../img/home-blog/blog-8.jpg);
}

/* CONFIGURAÇÕES MOBILE 900PX */

@media (max-width: 900px) {
  .blog-bg {
  }

  .blog-post {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 50px;
  }

  .blog-post-item {
    min-width: 150px;
  }

  .blog-post-item-conteudo {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .blog-post-item-conteudo h3 {
  }

  .blog-post-item-conteudo a {
    width: 80%;
  }

  .blog-bg > a {
    margin: 0 auto;
  }

  .blog-post-item:hover .blog-post-item-conteudo {
  }

  #item-1 {
  }

  #item-2 {
  }

  #item-3 {
  }

  #item-4 {
  }

  #item-5 {
  }

  #item-6 {
  }

  #item-7 {
  }

  #item-8 {
  }
}
